.app {
  display: flex;
  min-height: 100vh; /* растягиваем на весь экран */
}

.header {
  flex-shrink: 0; /* фиксированная ширина, не сжимается */
  height: auto; /* пусть тянется на всю высоту */
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
